.container{
  font: 1em sans-serif;
  width: 700px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  border-radius: 12px;
  color: rgb(7, 7, 7);
  background-image: linear-gradient(180deg, #f5f5f8 0%, #eae9f0cc 100%);
}

.hearder--one{
  display: flex;
  padding: 10px;
  margin-left: 20px;
}

.links{
  display: flex;
  margin: auto;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
  
}

.links :hover{
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  padding: 3px;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.profile__pic{
  width: 10px;
  width: 120px;
  border-radius: 13px;
}

.hearder--two{
  display: flex;
  margin: 30px;
}

.contact{
  margin-left: 30px;
}

.skills{
  display: flex;
  margin: 30px;
  gap: 15px;
}

.projects{
  margin: 30px;
}

.footer{
  display: flex;
  margin: 30px;
  padding-bottom: 20px;
  max-width: 670px;
}


.project--list{
  display: flex;
  gap: 20px;
  flex: 0 0 auto;

}

.each--project{
  width: 190px;
  border-radius: 12px;
  padding: 10px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  max-width: 90px;
  padding: 3px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

a:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}


.project--image{
  margin-top: 10px;
  width: 100%;
}

/*------LOADER------*/

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "loading";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}


/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  .hearder--one {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .profile__pic {
    margin-top: 10px;
  }

  .hearder--two,
  .footer {
    margin: 10px;
  }

  .skills,
  .project--list {
    margin: 10px;
  }

  .each--project,
  .projects--links:hover {
    margin-bottom: 5px;
  }

  .footer {
    text-align: center;
  }
}

button{
  background: rgb(248, 56, 56);
  margin: 10px;
}

iframe{
  max-width: 830px;
  margin: 5px;
}

/*-------------Form Container---------------*/

.form-container {
  width: 400px;
  background: linear-gradient(#eeeded,#eeeded) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container input{
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container textarea {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .submit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #2b2a2a;
  font-weight: 600;
  width: 40%;
  background: #afaeae;
  border: 1px solid #414141;
  padding: 5px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}